:root {
	--white: #fff;
	--milk: #ECECEC;
	--ligth-grey: #CACACA;
	--grey: #999999;
	--dark: #333333;
	--purple: #C283F3;
	--mid-purple: #9D5CD0;
	--dark-purple: #7943A4;
	--padding: 80px;
	--time: .3s;
	--func: ease-in;
}
