.about {
	padding-top: var(--padding);
	padding-bottom: 71px;
}

.about__des {
	width: 68%;
}

@media ( max-width: 1440px) {
	.about__des {
		width: 100%;
	}
}

@media (max-width: 720px) {
	.about {
		padding-bottom: 41px;
	}

	.about__des {
		font-size: 14px;
	}
}
