.event {
	padding-bottom: var(--padding);
}

.event__title {
	margin-bottom: 13px;
}

.cards {
  overflow: hidden;
  width: 100%;
}

.cards__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	width: 31.2%;
	min-height: 700px;
	margin-bottom: 50px;
	border: 1px solid var(--ligth-grey);
	animation: showBlock 1s linear forwards;
}

@keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card:nth-child(3n) {
  margin-right: 0;
}

.card__image {
	width: 100%;
	min-height: 302px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: thistle;
}

.card__content {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding-top: 50px;
	padding-right: 45px;
	padding-left: 50px;
	padding-bottom: 45px;
}

.card__location {
	position: absolute;
	top: 13px;
	right: 19px;
	text-align: right;
	font-weight: 600;
	font-size: 12px;
	color: var(--grey);
	line-height: 16px;
}

.card__des {
	margin-bottom: auto;
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 7;
}

.card__link {
	position: relative;
	display: inline-block;
	font-weight: 400;
	font-size: 16px;
	color: var(--mid-purple);
	transition: font-weight var(--time) var(--func);
}

.card__link::before {
	content: "";
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: var(--mid-purple);
}

.card__link:focus-visible {
	outline: 2px solid var(--dark-purple);
	outline-offset: 4px;
}

.card__link:hover {
	font-weight: 700;
}

.card__link:active {
	font-weight: 700;
	color: var(--dark-purple);
	outline: none;
}

.card__link:active::before {
	background-color: var(--dark-purple);
}

.event__inner {
	display: flex;
	justify-content: center;
}

@media (hover: none) {
	.card__link:hover,
	.card__link:active {
		font-weight: 700;
		color: var(--dark-purple);
	}

	.card__link:hover:before,
	.card__link:active:before {
		background-color: var(--dark-purple);
	}
}

@media ( max-width: 1024px) {
	.event__title {
		margin-bottom: 17px;
	}

	.card {
		min-height: 683px;
		margin-bottom: 49px;
	}

	.card__content {
		padding-right: 31px;
    padding-left: 34px;
    padding-bottom: 53px;
	}

	.card__image {
		min-height: 199px;
	}
}

@media ( max-width: 980px ) {
	.event__title {
		margin-bottom: 17px;
	}

	.card {
		margin-right: 0;
		margin-bottom: 54px;
		width: 47%;
	}

}

@media (max-width: 600px) {

	.event__title {
		margin-bottom: 15px;
	}

  .cards__list  {
		flex-wrap: nowrap;
	}

	.card {
		margin-bottom: 19px;
	}

	.card__content {
		padding-right: 18px;
		padding-left: 28px;
	}

	.card__location {
		font-size: 11px;
	}

	.card__subtitle {
		margin-bottom: auto;
		font-size: 24px;
	}

	.event__inner{
		display: none;
	}

	.event__pagination {
		width: auto;
		transform: translateX(0);
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.swiper-pagination-bullet {
		width: 10px;
		height: 10px;
		margin-right: 15px;
		background-color: var(--ligth-grey);
	}

	.swiper-pagination-bullet-active {
		background-color: #666666;
	}

	.swiper-pagination-bullet:last-child {
		margin-right: 0;
	}
}
