.gallery {
	padding-top: var(--padding);
	padding-bottom: 72px;
	background-image: url('../../img/gallery-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.gallery__container {
	display: flex;
	position: relative;
}

.gallery__title {
	color: var(--white);
}

.gallery__content {
  display: flex;
  flex-direction: column;
	margin-right: 50px;
  width: 100%;
	max-width: 25%;
}

.gallery__select-label {
  display: flex;
  flex-direction: column;
}

.gallery__select-name {
	margin-bottom: 12px;
	color: var(--white);
}

.choices {
	border-radius: 6px;
	border: 1px solid var(--white);
	transition: border var(--time) var(--func);
	z-index: 5;
}

.choices:hover {
	border: 1px solid var(--dark-purple);
}

.choices:focus-visible {
	outline: unset;
	border: 1px solid var(--dark-purple);
}

.choices[data-type*=select-one]:after,
.choices[data-type*=select-one].is-open:after {
	width: 10px;
	height: 10px;
	top: 50%;
	right: 13px;
	border-width: unset;
	border-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
}

.choices:after {
	background-image: url('../../icon/arrow-down.svg');
}

.choices.is-open:after {
	margin-top: -5px;
	transform: rotate(180deg);
	background-image: url('../../icon/arrow-down.svg');
}

.choices__inner {
	padding: 11px 15px 11px 15px;
	border: unset;
	border-radius: 6px;
	background-color: transparent;
	color: var(--white);
	min-height: auto;
}

.choices__input {
	background-color: transparent;
	border-radius: 6px;
	color: var(--white);
}

.choices__list--dropdown {
	margin-top: 0;
	border-bottom: 6px;
	border-top: 6px;
}

.choices__list--dropdown .choices__item--selectable:after {
	content: unset;
}

.is-open .choices__list--dropdown {
	border-radius: 6px;
	background-color:transparent;
	border: 1px solid #999999;
}

.choices__list--single {
	padding: 0;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
	background-color: #C283F340
}

.choices__item:nth-child(2n) {
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
}

.choices__list--dropdown .choices__item {
	padding: 11px 15px 11px 20px;
	color: #999999;
}

.is-selected {
	display: none;
}

.gallery__des {
	margin-top: auto;
	width: 95%;
	color: var(--white);
}

.gallery__des.gallery__des--mob {
	display: none;
}

.gallery__des > a {
	font-weight: 600;
	color: var(--purple);
	transition: color var(--time) var(--func);
}

.gallery__des > a:hover {
	color: var(--mid-purple);
}

.gallery__slider-container {
	position: relative;
	width: 100%;
	height: 844px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	z-index: 1;
}

.gallery-swiper-buttons {
	padding-top: 25px;
	padding-bottom: 30px;
}

.gallery__card {
	position: relative;
	flex-shrink: 0;
	height: 350px;
}

.gallery__card-btn {
	position: absolute;
	top: 0;
	left: 0;
	width: 99%;
	height: 99%;
	border: 2px solid transparent;
	transition: background-color var(--time) var(--func), border var(--time) var(--func);
	z-index: 1;
}

.gallery__card-btn:before,
.gallery__card-btn::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: opacity var(--time) var(--func);
}

.gallery__card-btn:before {
	width: 81px;
	height: 79px;
	background-image: url('../../icon/gallery-icon.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: 2;
	opacity: 0;
}

.gallery__card-btn::after {
	width: 85%;
	height: 85%;
	background-color:#00000050;
	opacity: 0;
}

.gallery__card-btn:focus-visible {
	outline: 2px solid var(--mid-purple);
}


.gallery__card-btn:hover:before,
.gallery__card-btn:hover:after {
	opacity: 1;
}

.gallery__card-btn:active {
	background-color: #c283f366;
	border: 2px solid #D1A9F0;
}

.gallery__card-btn:active:before,
.gallery__card-btn:active:after {
	opacity: 1;
}

.gallery__card-image{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (hover: none) {
	.choices:hover,
	.choices:active {
		border: 1px solid var(--dark-purple);
	}

	.gallery__des > a:hover,
	.gallery__des > a:active {
		color: var(--mid-purple);
	}

	.gallery__card-btn:hover:before,
	.gallery__card-btn:hover:after
	.gallery__card-btn:active:before,
	.gallery__card-btn:active:after {
		opacity: 1;
	}
}

@media ( max-width: 1024px ) {
	.gallery__content {
		margin-right: 50px;
    min-width: 280px;
	}

	.gallery__slider-container {
		height: 687px;
	}

	.gallery__card {
		height: 280px;
	}

}

@media ( max-width: 980px ) {
	.gallery__container {
		display: block;
	}

	.gallery__des {
		display: none;
	}

	.gallery__des.gallery__des--mob {
		display: block;
		margin-top: 20px;
		width: 100%;
	}

	.gallery__select-label {
		margin-bottom: 84px;
	}

}

@media (max-width: 720px) {
	.gallery {
		padding-bottom: 70px;
	}

	.gallery__content {
		margin-right: 0;
		margin-bottom: 34px;
		max-width: 100%;
	}

	.gallery__select-name {
		margin-bottom: 3px;
		font-size: 17px;
	}

	.gallery__des.gallery__des--mob {
		font-size: 16px;
	}
}

@media (max-width: 600px) {
	.gallery__slider-container {
    display: flex;
    flex-direction: column-reverse;
		height: auto;
	}

	.gallery-swiper-buttons {
		margin: 0 auto;
		padding-top: 22px;
		padding-bottom: 0px;
	}

	.gallery__card {
		height: 367px;
	}
}
