.project {
	padding-top: var(--padding);
	padding-bottom: var(--padding);
}

.project__des {
	margin-bottom: 20px;
	width: 66%;
}

.project__des > a {
	color: var(--mid-purple);
	border-bottom: 1px solid transparent;
	transition: color var(--time) var(--func), border-bottom var(--time) var(--func);
}

.project__des > a:hover {
	border-bottom: 1px solid var(--dark-purple);
}

.project__des > a:active {
	color: var(--dark-purple);
	border-bottom: 1px solid var(--dark-purple);
}

.project__subtitle {
	margin-bottom: 23px;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip__btn {
	padding: 0;
	width: 16px;
	height: 16px;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.tooltip__btn svg {
	width: 100%;
	height: 100%;
}

.tooltip > button:hover > svg,
.tooltip > button:active > svg {
	fill: var(--dark-purple);
	stroke: var(--white);
}

.tooltip > button:hover + .tooltip__text,
.tooltip > button:active + .tooltip__text {
	display: block;
}

.tooltip > button:focus-visible {
	outline: 2px solid var(--dark-purple);
}

.tooltip__text {
	display: none;
	position: absolute;
	left: 50%;
	bottom: calc(100% + 5px);
	transform: translateX(-50%);
	padding: 8px 11px 11px;
	width: 264px;
	background-color: var(--ligth-grey);
	font-weight: 600;
	font-size: 12px;
	line-height: 1.3;
	color: var(--white);
	text-align: center;
	z-index: 1;
}

.tooltip__text::after {
  position: absolute;
	content: "";
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 6px 0 6px;
	border-color: var(--ligth-grey) transparent transparent transparent;
}

.project__slider {
	position: relative;
	margin: 0 68px;
}

.project__swiper-button-prev,
.project__swiper-button-next {
	position: absolute;
	top: 40%;
	z-index: 6;
	background-color: #ececec;
}

.project__swiper-button-prev {
	left: -70px;
}

.project__swiper-button-next {
	right: -70px;
}

.project__swiper-button-prev > .main__swiper-button-svg,
.project__swiper-button-next > .main__swiper-button-svg {
	stroke: #000;
}

.project__slider-container {
	overflow: hidden;
	padding: 0;
}

.project__slider-container > .swiper-wrapper {
	box-sizing: border-box;
}

.project__card {
	flex-shrink: 0;
	padding: 2px;
	height: 150px;
}

.project__card-content {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	border: 1px solid var(--ligth-grey);
}

.project__card-content > img {
	filter: grayscale(100%);
	transition: filter var(--time) var(--func);
}

.project__card:hover img {
	filter: grayscale(0);
}

@media (hover: none) {
	.project__des > a:hover,
	.project__des > a:active {
		color: var(--dark-purple);
		border-bottom: 1px solid var(--dark-purple);
	}

	.tooltip__btn:hover .tooltip__text,
	.tooltip__btn:active .tooltip__text {
		opacity: 1;
		visibility: visible;
		transition: filter var(--time) var(--func);
	}

	.tooltip > button:hover + .tooltip__text,
	.tooltip > button:active + .tooltip__text {
		opacity: 1;
		visibility: visible;
		display: block;
	}
}

@media ( max-width: 1440px) {
	.project__des {
		margin-bottom: 21px;
		width: 100%;
	}

	.project__card {
		height: 128px;
	}

	.project__slider {
		margin: 0 53px;
	}

	.project__swiper-button-prev {
		left: -53px;
	}

	.project__swiper-button-next {
		right: -53px;
	}
}

@media ( max-width: 980px) {

	.project__des {
    width: 98%;
		margin-bottom: 25px;
	}

	.project__subtitle {
		margin-bottom: 28px;
	}

	.project__card {
		height: 106px;
	}

	.project__card-content {
		padding: 10px;
	}

	.project__swiper-button-prev, .project__swiper-button-next {
		top: 36%;
	}
}

@media ( max-width: 720px) {
	.project__title {
		margin-bottom: 14px;
	}

	.project__des {
		margin-bottom: 14px;
	}

	.project__subtitle {
		margin-bottom: 15px;
	}

	.project__slider {
		margin: 0 46px;
	}

	.project__swiper-button-prev,
	.project__swiper-button-next {
		top: 28%;
	}

	.project__swiper-button-prev {
    left: -47px;
	}

	.project__swiper-button-next {
    right: -47px;
	}

	.project__card {
		height: 64px;
	}

	.project__card-content > img {
		height: 60%;
	}
}
